table{
    border-collapse: collapse;
    width: 110px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: 10px;
  }
  tr,td{
      border: 1px solid black;
      padding: 50px;
  }
  
  .left{
      background: pink;
      width: 50px;
  }
  .right{
      background: greenyellow;
      width: 50px;
  }